Package: net.limneos.ringerswitchtool
Name: RingerSwitchTool
Depends: mobilesubstrate, preferenceloader, firmware (>= 4.3)
Version: 0.2
Architecture: iphoneos-arm
Description: Change your ringer switch's functionality!
Maintainer: Elias Limneos
Author: Elias Limneos
Section: Tweaks
